@import '../../styles/variables.css';

.SignInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: #fafafa;
  padding-top: 30px;
}

.content {
  width: 400px;
  border: $border-style;
  border-radius: 6px;
  box-shadow: $box-shadow;
  background: #fff;
  margin-bottom: 35px;
}

.signUp {
  text-align: right;
  padding-right: 30px;
}

.regBtn {
  color: #666;
  border: none;
  background: none;
  &:hover {
    color: $hover-color_blue;
    text-decoration: underline;
  }
}
