@import '../../styles/variables.css';
@import '../../styles/content-title.css';

.Mobiles {
  @include content-title();
}

.th1 {
  font-weight: normal;
  letter-spacing: $letter-spacing;
}

.th4 {
  text-align: right;
}

.th5 {
  width: 20px;
  text-align: right;
}

.icon {
  color: #B71C1C;
  margin-right: 15px;
  &:hover {
    cursor: pointer;
  }
}
