@import '../styles/variables.css';

.nav {
  height: 70px;
  line-height: 70px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  font-size: 14px;
  z-index: 100;
  box-shadow: 1px 1px 3px #efefef;
}

.loginedNav {
  height: $nav-height;
  line-height: $nav-height;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background: $background-color;
  font-size: 14px;
  z-index: 100;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: $site-content-width;
  height: 100%;
  z-index: 100;
}

.pagesNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  line-height: inherit;
  li {
    width: 60px;
    height: 100%;
    margin-right: 4px;
    cursor: pointer;
    &:first-child {
      width: 150px;
    }
    a {
      display: inline-block;
      width: 60px;
      color: #666;
      font-size: 15px;
      font-weight: 60;
      text-align: center;
      text-decoration: none;
      &:hover {
        height: 100%;
        background: #fafafa;
      }
    }
  }
}

.home {
  width: 150px !important;
  line-height: 100%;
  margin-top: -4px;
  &:hover {
    background: none !important;
  }
  img {
    position: relative;
    left: -10px;
    width: 150px;
    height: 30px;
  }
}

.signsNav {
  display: flex;
  justify-content: space-between;
  line-height: inherit;
  font-size: 16px;
}

.signIn {
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      color: #333;
    }
  }
}

/* only get className to <a> can't control it's styles */
.navItems {
  font-size: 16px;
  padding: 0 10px;
  li {
    a {
      color: #212121;
      margin: 4px 0;
      &:hover {
        font-weight: bold;
        color: #fff;
        background: #428bca;
      }
    }
  }
}

.icon {
  color: #666;
  line-height: $nav-height;
  margin: 0 0 0 12px;
  &:hover {
    color: #333;
  }
}

