@import '../../../styles/variables.css';
@import '../../../styles/input.css';
@import '../../../styles/submitBtn.css';

.signUpForm {
  width: 400px;
  padding: 20px 30px 30px 30px;
  margin-bottom: 40px;
  border: $border-style;
  border-radius: 6px;
  box-shadow: $box-shadow;
}

/* cover the imporing input styles*/
.input {
  width: 100%;
}

/* cover the imporing submitBtn styles*/
.submitBtn {
  width: 100%;
  height: 36px;
  font-size: 17px !important;
  padding: 0;
  margin-top: 5px;
}

.signUp {
  text-align: right;
  margin-top: 30px;
}

.regBtn {
  color: #666;
  font-weight: bold;
  border: none;
  background: none;
  &:hover {
    color: #212121;
  }
}
