.signUpForm {
  width: 400px;
  padding: 20px 30px 30px 30px;
  margin-bottom: 40px;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  input {
    width: 100%;
    height: 36px;
    margin: 6px 0 0 0;
    padding-left: 8px;
    font-size: 18px;
  }
}

.field {
  margin: 20px 0;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
}

.forgetPassword {
  color: blue;
}

.error {
  color: red;
}

.submitBtn {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 36px;
  font-weight: 600px;
}

.signIn {
  text-align: right;
  margin-top: 30px;
  button {
    color: blue;
    border: none;
    background: none;
  }
}
