@import '../../styles/variables.css';

.signUpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  padding-top: 30px;
}

.content {
  margin-bottom: 35px;
}
