@import '../../styles/variables.css';
@import '../../styles/content-title.css';

.userName {
  @include content-title();
  padding-bottom: $padding-bottom;
}

.passwordEdit {
  @include content-title();
  padding-bottom: $padding-bottom;
  margin: 40px 0;
}
