@import '../../styles/variables.css';
@import '../../styles/submitBtn.css';

.All {
  width: 100%;
  height: 450px;
  border-radius: 3px;
  padding: 8px 25px 0;
  background: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: $border-style;
}
.content {
  height: 100px;
  margin-top: 20px;
  background: #fff;
}

.form {
  line-height: 40px;
  vertical-align: middle;
}

.input {
  width: 250px !important;
  height: 30px;
  font-size: 12px;
  margin-top: 0;
  margin-right: 5px;
}

.submitBtn {
  padding: 4px 30px;
  margin-top: 0px;
}

.navUl {
  li {
    display: inline-block;
    height: 48px;
    margin: 10px 8px 0 0;
    a {
      display: inline-block;
      width: 75px;
      height: 48px;
      line-height: 48px;
      text-decoration: none;
      letter-spacing: 1px;
      text-align: center;
      color: #666;
      &:hover {
        color: $normal-color;
        cursor: pointer;
      }
    }
  }
}

.activeNav {
  border-bottom: 2px solid rgb(88, 192, 193);
  a {
    color: $normal-color;
  }
}

