@font-face{
  font-family: "Noto Sans";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/NotoSans-Regular.ttf") format("truetype");
}

body {
  font-family: "Noto Sans", Verdana, "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "冬青黑体", SimHei;
  margin: 0;
  padding: 0;
}

h1{
  font-weight: 200;
}

h2{
  font-weight: 200;
}

p, ul, ol{
  font-weight: 300;
}

strong{
  font-weight: 400;
}
