@import './variables.css';

@mixin content-title() {
  width: $settings-content-width;
  color: $normal-color;
  padding-bottom: 8px;
  border: $border-style;
  border-radius: $border-radius_3px;
  h3 {
    font-size: $normal-font-size;
    font-weight: bold;
    line-height: 17px;
    letter-spacing: $letter-spacing;
    padding: 9px 10px 10px;
    margin: 0;
    background: $background-color;
    border-bottom: $border-style;
  }
}
