@import './variables.css';

@mixin content-title() {
  width: $settings-content-width;
  padding-bottom: 8px;
  border: $border-style;
  border-radius: $border-radius;
  h3 {
    font-size: 15px;
    line-height: 17px;
    color: #333;
    letter-spacing: $letter-spacing;
    padding: 9px 10px 10px;
    margin: 0;
    background: $background-color;
    border-bottom: $border-style;
  }
}
