@import './variables.css';

.submitBtn {
  color: #fff;
  font-weight: bold;
  letter-spacing: $letter-spacing;
  padding: 6px 68px;
  margin-top: $field-margin-top;
  border-radius: $border-radius;
  background: linear-gradient(#91dd70, #55ae2e);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  &:hover {
    background: #55ae2e;
  }
}

button:disabled {
  opacity: 1 !important;
}
