@import '../styles/variables.css';

.ProfilePage {
  display: flex;
  justify-content: space-between;
  width: $site-content-width;
  margin: $horizontal-center;
  margin-top: 70px;
}

.userContent {
  width: $settings-content-width;
  border: $border-style;
  border-radius: $border-radius_3px;
}




