@import '../../styles/variables.css';

.Projects {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  left: -1px;
  width: 100%;
  height: 100%;
  margin-top: $nav-height-logined;
}

.SecondSidebar {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 40px;
  font-size: 13px;
  background: rgb(236, 239, 244);
  margin-top: 5px;
  h3 {
    display: flex;
    text-align: center;
    margin: 4px 0 0 0;
    padding: 0;
  }

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin-left: 20px;
  li {
    a {
      padding: 8px 12px;
      color: #666;
      &:focus {   /* &:focus cann't place behind the &:hover*/
        color: #333;
        background: #fff;
        border-radius: 0px;
      }
      &:hover {
        color: #333;
      }
    }
  }

}

.activeNav {
  a {
    color: #787878 !important;
    background: #fff !important;
    border-radius: 0px !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
  }
}

.icon {
  text-indent: 3px;
  margin-right: 5px;
}

.add {
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #333 !important;
  text-decoration: none !important;
  padding: 10px 10px  0px !important;
  .icon {
    margin-right: 3px;
  }
}

.activeAdd {
  background: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  a {
    color: #787878 !important;

  }
}

.tooltip {
  display: block;
  padding: 3px 16px;
}

.content {
  width: 100%;
  height: 100%;
  background: rgb(236, 239, 244);
  padding: 0 14px;
  overflow: auto;
}
