.signInForm {
  width: 400px;
  padding: 30px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.input {
  font-size: 14px;
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  &:hover {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  }
  &:focus {
    background: #fff;
  }
}

.submitBtn {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 36px;
}

.signIn {
  text-align: right;
  margin-top: 30px;
  button {
    color: blue;
    border: none;
    background: none;
  }
}
