@import '../../styles/variables.css';

.Collection {
  width: 800px;
  height: 300px;
  border-radius: 3px;
}

.titleBar {
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  border-bottom: $border-style;

  h3 {
    font-size: 18px;
    line-height: 40px;
    color: #666;
    margin-top: 0;
  }
}
