@import '../styles/variables.css';


.Footer {
  width: $site-content-width;
  height: 80px;
  line-height: 80px;
  border-top: 1px solid #ddd;
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 0 15px;
      a {
        font-size: 13px;
        color: #666;
        &:hover {
          color: $hover-color_blue;
        }
      }
    }
  }
}
