@import '../../styles/variables.css';
@import '../../styles/content-title.css';

.Security {
  width: 100%;
  color: #333;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.sessions {
  @include content-title();
  padding-bottom: $padding-bottom;
  p {
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    color: #666;
    border-bottom: 1px solid #ddd;
    margin-bottom: 100px;
  }
}

.log {
  @include content-title();
  padding-bottom: $padding-bottom;
  margin: 40px 0;
  p {
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    color: #666;
    border-bottom: 1px solid #ddd;
    margin-bottom: 300px;
  }
}
