.field {
  margin: 20px 0;
}

input {
  width: 100%;
  height: 36px;
  margin: 6px 0 0 0;
  padding: 0;
  font-size: 18px;
  padding-left: 8px;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
}

.forgetPassword {
  color: #666;
}

.error {
  color: #B71C1C;

}

.alertMessage {
  padding-left: 4px;
  margin-top: 5px;
}

.alertIcon {
  margin-right: 5px;
}
