@import '../styles/variables.css';

.field {
  margin-top: 20px;
}

input {
  margin-top: 6px;
  padding: 0;
  padding-left: 12px;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  label {
    font-weight: normal;
  }
}

.icon {
  vertical-align: middle;
  margin-left: 10px;
}

.forgetPassword {
  color: #666;
  font-weight: 300;
  &:hover {
    color: $hover-color_blue;
  }
}

.error {
  color: #B71C1C;

}

.alertMessage {
  padding-left: 4px;
  margin-top: 5px;
}

.alertIcon {
  margin-right: 5px;
}
