.field {
  margin: 20px 0;
}

input {
  margin: 6px 0 0 0;
  padding: 0;
  padding-left: 12px;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
}

.icon {
  vertical-align: middle;
  margin-left: 10px;
}

.forgetPassword {
  color: #666;
}

.error {
  color: #B71C1C;

}

.alertMessage {
  padding-left: 4px;
  margin-top: 5px;
}

.alertIcon {
  margin-right: 5px;
}
