@import '../../styles/variables.css';

.Add {
  width: 900px;
  height: 880px;
  padding: 0 10px;
  margin-top: 25px;
  margin-bottom: 100px;
}

.titleBar {
  height: 40px;
  line-height: 40px;
  margin: 10px 0 10px 0;
  border-bottom: $border-style;
  h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    color: #666;
    margin-top: 0;
  }
}

.icon {
  color: #55ae2e;
  padding-right: 5px;
}
