@import '../../styles/variables.css';

.Add {
  width: 900px;
  height: 800px;
  padding: 0 10px;
  margin-bottom: 100px;
  background: #fff;
}

.titleBar {
  height: 40px;
  line-height: 40px;
  margin: 38px 0 10px 0;
  border-bottom: $border-style;
  h3 {
    font-size: 18px;
    line-height: 40px;
    color: #666;
    margin-top: 0;
    text-indent: 10px;
  }
}
