@import '../styles/variables.css';

.ProjectPage {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  left: -1px;
  width: 100%;
  height: 100%;
  margin-top: $nav-height-logined;
}

.firstSidebar {
  width: 60px;
  height: 100%;
  padding-top: 20px;
  background: rgb(33, 42, 52);
  a {
    font-size: 12px;
    color: #d5d5d5;
    text-align: center;
    &:hover {
      color: #fff;
      border-radius: 0px;
      background: rgb(52, 63, 72) !important;
    }
  }
}

.SecondSidebar {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 40px;
  font-size: 13px;
  background: #eee;
  margin-top: 5px;
  h3 {
    display: flex;
    text-align: center;
    margin: 4px 0 0 0;
    padding: 0;
  }

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin-left: 20px;
  li {
    a {
      padding: 8px 10px;
      color: #666;
      &:focus {   /* &:focus cann't place behind the &:hover*/
        color: #333;
        background: #fff;
        border-radius: 0px;
      }
      &:hover {
        color: #333;
      }
    }
  }

}

.activeFirstNav {
  border-left: 3px solid rgb(88, 192, 193);
  a {
    color: #eee !important;
    border-radius: 0px !important;
    background: rgb(52, 63, 72) !important;
  }
}

.activeNav {
  a {
    color: #787878 !important;
    background: #fff !important;
    border-radius: 0px !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
  }
}

.icon {
  text-indent: 3px;
  margin-right: 5px;
}

.add {
  font-size: 13px;
  letter-spacing: 0.3px;
  color: #333 !important;
  text-decoration: none !important;
  padding: 10px 10px  0px !important;
  .icon {
    margin-right: 3px;
  }
}

.activeAdd {
  background: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  a {
    color: #787878 !important;

  }
}

.tooltip {
  display: block;
  padding: 3px 16px;
}

.content {
  width: 100%;
  height: 100%;
  background: #efefef;
  padding: 0 14px;
  overflow: auto;
}

.aside {
  width: 20%;
  border-left: 1px solid #e5e5e5;
}

