@import '../../styles/variables.css';
@import '../../styles/content-title.css';

.Profile {
  @include content-title();
  padding-bottom: $padding-bottom;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

