@import '../../../styles/variables.css';
@import '../../../styles/input.css';
@import '../../../styles/submitBtn.css';

.MobileForm {
  letter-spacing: $letter-spacing;
  padding-left: $content-padding-left;
  border-top: $border-style;
}
