$textColor: orange;

.Home {
  margin: 0 auto;
  margin-top: 70px;
}

@mixin scale{
  transform: scale(1.2);
}

.intro{
  color: $textColor;
  display: flex;
  justify-content: center;
  a{
    padding-left: calc(2px + 3px);
    &:hover{
      @include scale;
      background: blue;
      color: white;
    }
  }
}
