@import '../../styles/variables.css';
@import '../../styles/submitBtn.css';

.Total {
  width: 900px;
  height: 300px;
  border-radius: 3px;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: $border-style;
  h3 {
    display: inline;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    color: #666;
    margin-top: 0;
  }
}

.form {
  line-height: 40px;
  vertical-align: middle;
}

.input {
  width: 250px !important;
  height: 30px;
  font-size: 12px;
  margin-top: 0px;
  margin-right: 5px;
}

.submitBtn {
  padding: 4px 30px;
  margin-top: 0px;
}

.navUl {
  li {
    display: inline-block;
    height: 40px;
    margin-right: 8px;
    a {
      display: inline-block;
      width: 65px;
      height: 40px;
      line-height: 40px;
      text-decoration: none;
      text-align: center;
      color: #666;
      &:hover {
        color: $normal-color;
        cursor: pointer;
      }
    }
  }
}

.activeNav {
  border-bottom: 3px solid #d26911;
  a {
    color: $normal-color;
  }
}

.content {
  height: 100px;
  margin-top: 20px;
  background: #fff;
}

.icon {
  font-size: 12px;
  padding-right: 5px;
}


.project{
  display: flex;
  justify-content: flex-start;
}

.projectImg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 112px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border .2s ease-in-out;
  margin-right: 30px;
  &:hover {
    border: 1px solid #337ab7;
    border-radius: 4px;
    transition: border .2s ease-in-out;
    touch-action: manipulation;
  }
  a {
    display: inline-block;
    width: 150px;
    height: 102px;
    background: #eceff1;
  }
}

.logo{
  width: 150px;
  height: 102px;
}

.projectName {
  width: 150px;
  height: 26px;
  line-height: 26px;
  text-align: center;
}

