@import '../../../styles/variables.css';

.avatar {
  padding-left: 50px;
  p {
    color: $normal-color;
    font-weight: normal;
  }
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.title {
  margin-top: 20px;
  font-weight: 600;
  color: $normal-color;
}

.upload {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 34px;
    line-height: 24px;
    font-size: 15px;
    margin-top: 16px;
    background: linear-gradient(#fcfcfc, #ddd);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: $normal-color;
    letter-spacing: $letter-spacing;
    text-align: center;
    text-decoration: none;
    &:hover {
      background: #e6e6e6;
      color: #333;
      border: 1px solid #adadad;
      text-decoration: none;
      cursor: pointer;
    }
}
.upload input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  &:hover {
    cursor: pointer;
  }
}

.modalBody {
  text-align: center;
}

.fileBtn {
  padding: 5px 16px;
  margin-right: 5px;
}
