.header {
  img{
    width: 287px;
    height: 186px;
    display: block;
    margin: 20px auto 0;
    cursor: pointer;
  }
  h2 {
    font-size: 22px;
    color: #333;
    text-align: center;
  }
}

.logo {
   background: #55ae2e;
}
