/*Area of adding one email*/
.addEmail {
  width: 746px;
  padding-bottom: 8px;
  border: 1px solid #d8d8d8;
  border-radius: 3px 3px 0 0;
}

/*email table*/
h3 {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 9px 10px 10px;
  background: #f5f5f5;
}

table {
  width: 746px;
  margin: 30px 0;
  border: 1px solid #d8d8d8;
  border-radius: 3px 3px 0 0;
  tr {
    border: 1px solid #d8d8d8;
    th {
      height: 30px;
      border: 1px solid #d8d8d8;
    }
  }
}
