@import '../../styles/variables.css';
@import '../../styles/content-title.css';

.Emails {
  @include content-title();
}
/* emails and mobiles table style*/
table {
  width: 100%;
  color: #666;
  font-weight: normal !important;
  margin: 30px 0 30px 0;
  text-indent: 10px;
  tr {
    letter-spacing: $letter-spacing;
    border-bottom: $border-style;
    th {
      height: 38px;
    }
  }
}

.icon {
  color: #B71C1C;
  &:hover {
    cursor: pointer;
  }
}
