@import '../../styles/variables.css';
@import '../../styles/content-title.css';

.Emails {
  @include content-title();
}

.table {
  width: 100%;
  color: #666;
  margin: 20px 0 40px 0;
  text-indent: 10px;
}

.table_tr {
  height: 38px;
  border-bottom: $border-style;
}

.table_th1 {
  width: 160px;
  font-weight: normal;
  letter-spacing: $letter-spacing;
}

.table_th2 {
  width: 160px;
}

.table_th4 {
  text-align: right;
}

.table_th5 {
  width: 20px;
  text-align: right;
}

.icon {
  color: #B71C1C;
  margin-right: 15px;
  &:hover {
    cursor: pointer;
  }
}
